*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.attribution { 
    font-size: 11px; 
    text-align: center;
    /* margin-top:60rem; */
   
}
.attribution a {
     color: hsl(228, 45%, 44%);
}

body {
    overflow: hidden;
}  


footer {
    margin-top:54rem;
}